/** BODY */
BODY { background: #B7E7FF; padding: 0px 10px; }

/** TEXT */
BODY, H1, H2, H3, H4, P, UL, OL, DL, LI, DT, DD, TH, TD, I, B, EM, STRONG { font-family: sans-serif; }
P.bottom { font-size: small; }
B.here { font-weight: bold; color: black; }

A:link { color: #0000FF; }
A:visited { color: #CC00CC; }
A:hover { color: #CC9900; }
A:active { color: #FF0000; }

/** TABLE */
TABLE { border: none; width: 100%; }

TABLE.stripe { border-collapse: collapse; max-width: 600px; }
TABLE.stripe TD { text-align: center; border: 1px solid black; }
TABLE.stripe TH { text-align: center; border: 1px solid black; }

TH { vertical-align: top; }
TH.right { text-align: right; }
TH.left { text-align: left; }

TD { vertical-align: top; }
TD.right { text-align: right; }
TD.left { text-align: left; }

