<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="../styles.css" type="text/css">
    <title>nyeoglya's blog</title>
    <meta name="description" content="Hyunseong Kong">
</head>
<body>
    <!-- Title -->
    <h1>nyeoglya's blog</h1>

    <!-- Contents -->
    <h3>Contents</h3>
    <ul>
        <li><a href="../index.html">돌아가기</a></li>
        <li><a href="./1.html">1. 시작하기</a></li>
    </ul>
</body>
</html>